In [1]:
import pandas as pd
import os
from tqdm import tqdm
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [103]:
stock_lst = "C:/Users/user/Desktop/유신영 업무폴더/BDC/1_BDC 데이터 정리/13_2023년 3분기/131_2023년 3분기 3차년도/2023년 3분기 3차년도 시가총액정보/가공후/usa/"
stock_lst_dic = os.listdir(stock_lst)

In [104]:
for idx in tqdm(range(len(stock_lst_dic))):
    symbol = stock_lst_dic[idx].split("_")[0]
    if idx == 0:
        base_df = pd.read_excel(stock_lst + stock_lst_dic[idx])
        base_df["symbol"] = symbol
    else:
        append_df = pd.read_excel(stock_lst + stock_lst_dic[idx])
        append_df["symbol"] = symbol
        base_df = base_df.append(append_df, ignore_index=True)

100%|██████████| 9253/9253 [04:21<00:00, 35.33it/s]

In [105]:
base_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,shareoutstanding,marketcap,symbol
0,2018-08-15 04:00:00+00:00,11.840000,11.840000,11.740000,11.740000,27300,0.0,0.0,0.0,19320000000,2.268168e+11,AAAU
1,2018-10-26 04:00:00+00:00,12.340000,12.420000,12.320000,12.350000,216400,0.0,0.0,0.0,18980000000,2.344030e+11,AAAU
2,2019-01-18 05:00:00+00:00,12.820000,12.830000,12.800000,12.810000,30800,0.0,0.0,0.0,18860000000,2.415966e+11,AAAU
3,2019-04-22 04:00:00+00:00,12.750000,12.750000,12.730000,12.740000,9000,0.0,0.0,0.0,18400000000,2.344160e+11,AAAU
4,2019-07-19 04:00:00+00:00,14.340000,14.390000,14.200000,14.230000,123700,0.0,0.0,0.0,18080000000,2.572784e+11,AAAU
...,...,...,...,...,...,...,...,...,...,...,...,...
161703,2022-01-14 05:00:00+00:00,56.250000,56.669998,53.540001,55.349998,4512700,0.0,0.0,NaN,16320000000,9.033120e+11,Z
161704,2022-04-14 04:00:00+00:00,48.910000,49.500000,47.779999,48.410000,2272200,0.0,0.0,NaN,16190000000,7.837579e+11,Z
161705,2022-07-15 04:00:00+00:00,33.930000,34.709000,33.509998,34.509998,3512000,0.0,0.0,NaN,16070000000,5.545757e+11,Z
161706,2022-10-14 04:00:00+00:00,28.790001,29.219999,26.775000,26.969999,4302000,0.0,0.0,NaN,15910000000,4.290927e+11,Z
161707,2023-01-20 05:00:00+00:00,42.400002,43.240002,41.970001,43.160000,2600500,0.0,0.0,NaN,15820000000,6.827912e+11,Z

In [107]:
usa_stock_dict = {"Date":"stndd_dt",
                    "symbol":"lstng_cd",
                    "Open":"stock_start",
                    "Close":"stock_end",
                    "High":"stock_high",
                    "Low":"stock_low",
                    "marketcap":"mrprc_ttamt"}

In [4]:
viet_stock_dict = {"Date":"stndd_dt",
                    "symbol":"lstng_cd",
                    "Open":"stock_start",
                    "Close":"stock_end",
                    "marketcap":"mrprc_ttamt"}

In [106]:
indonesia_stock_dict = {"Date":"stndd_dt",
                    "symbol":"lstng_cd",
                    "Open":"stock_start",
                    "Close":"stock_end",
                    "High":"stock_high",
                    "Low":"stock_low",
                    "marketcap":"mrprc_ttamt"}

In [108]:
def make_ev_dict(df) -> pd.DataFrame:
    ev_dict = {}
    for key, value in zip(df["표준컬럼 영문명"], df["표준 데이터타입"]):
        ev_dict[key] = value
    columns = [x.lower() for x in df["표준컬럼 영문명"]]
    return ev_dict, pd.DataFrame(columns=columns)

In [109]:
global_ev_finan = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=2))[0]
global_ev_finan_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=2))[1]

In [110]:
base_df = base_df.rename(columns=usa_stock_dict)
base_df = base_df[[i for j, i in usa_stock_dict.items()]]
global_ev_finan_df = global_ev_finan_df.append(base_df)
global_ev_finan_df

,keyval,entrp_uid,hb_ntn_cd,kr_ntn_nm,engls_ntn_nm,ntn_lngg_cd_val,kr_lngg_nm,engls_lngg_nm,acplc_lngg_entrp_nm,engls_entrp_nm,...,stock_end,stock_high,stock_low,stock_avg,mrprc_ttamt,week_chart,opert_sctin_cd,data_crtin_dt,cntct_prces_stts_cd,cntct_prces_dt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.740000,11.840000,11.740000,NaN,2.268168e+11,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.350000,12.420000,12.320000,NaN,2.344030e+11,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.810000,12.830000,12.800000,NaN,2.415966e+11,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.740000,12.750000,12.730000,NaN,2.344160e+11,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.230000,14.390000,14.200000,NaN,2.572784e+11,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.349998,56.669998,53.540001,NaN,9.033120e+11,NaN,NaN,NaN,NaN,NaN
161704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.410000,49.500000,47.779999,NaN,7.837579e+11,NaN,NaN,NaN,NaN,NaN
161705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.509998,34.709000,33.509998,NaN,5.545757e+11,NaN,NaN,NaN,NaN,NaN
161706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.969999,29.219999,26.775000,NaN,4.290927e+11,NaN,NaN,NaN,NaN,NaN
161707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.160000,43.240002,41.970001,NaN,6.827912e+11,NaN,NaN,NaN,NaN,NaN

In [111]:
respond_df = pd.read_excel("3차년도_대응표.xlsx", sheet_name=1)

In [112]:
second_finan_lst = "C:/Users/user/Desktop/유신영 업무폴더/BDC/1_BDC 데이터 정리/13_2023년 3분기/131_2023년 3분기 3차년도/2023년 3분기 3차년도 재무정보/데이터베이스 적재/"
append_base_df = pd.read_excel(second_finan_lst + "tb_hb_usa_plcfi_d.xlsx")

In [113]:
filtered_df = respond_df[["2차년도_재무_영문", "3차년도_재무_영문"]].dropna()
append_base_df = append_base_df[filtered_df["2차년도_재무_영문"]]
filtered_dict = {}
for key, value in zip(filtered_df["2차년도_재무_영문"], filtered_df["3차년도_재무_영문"]):
    filtered_dict[key] = value.lower()
append_base_df = append_base_df.rename(columns= filtered_dict)
# korea_ev_finan_df = korea_ev_finan_df.append(append_df)
# korea_ev_finan_df = korea_ev_finan_df.reset_index(drop=True)

In [115]:
for idx in tqdm(range(len(global_ev_finan_df))):
    symbol = global_ev_finan_df["lstng_cd"][idx]
    append_df = append_base_df[append_base_df["lstng_cd"] == symbol]
    if not append_df.empty:
        global_ev_finan_df.loc[idx, list(append_df.columns)] = append_df.values[0]

100%|██████████| 161708/161708 [31:35<00:00, 85.29it/s]

In [116]:
info_finan_ = pd.read_excel("미국_3차년도_재무정보_일반.xlsx")

In [122]:
respond_df

,3차년도_재무_영문,3차년도_재무_한글,2차년도_재무_한글,2차년도_재무_영문,2차년도_재무_한글_미대응,2차년도_재무_영문_미대응,yfinance_일반정보,yfinance_대응정보,investing_일반정보,investing_대응정보
0,KEYVAL,키값,키값,keyval,NaN,NaN,symbol,LSTNG_CD,symbol,LSTNG_CD
1,ENTRP_UID,기업 UID,NaN,NaN,NaN,NaN,industry_info,ENGLS_INDSTRSCTRS_NM_1,sicCode,ENGLS_INDSTRSCTRS_NM_1
2,HB_NTN_CD,헤브론스타국가코드,헤브론스타국가코드,hb_ntn_cd,현지언어주식시장명,acplc_lngg_stock_mrkt_nm,sector_info,ENGLS_INDSTRSCTRS_NM_2,sicGroup,ENGLS_INDSTRSCTRS_NM_2
3,KR_NTN_NM,국문국가명,NaN,NaN,현지언어산업군명,acplc_lngg_indst_gnnm,address_info,ENGLS_ENTRP_DTADD,sicDescription,ENTRP_OLN_INTRD_CONT
4,ENGLS_NTN_NM,영문국가명,NaN,NaN,현금및예치금액,cash_and_dpst_amt,phone_info,ENTRP_RPRSN_TLNO,businessAddress,ENGLS_ENTRP_DTADD
...,...,...,...,...,...,...,...,...,...,...
66,WEEK_CHART,주간주가차트,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,OPERT_SCTIN_CD,작업구분코드,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,DATA_CRTIN_DT,데이터생성일자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,CNTCT_PRCES_STTS_CD,연계처리상태코드,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,CNTCT_PRCES_DT,연계처리일자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
idn_respond_dict = {}
for key, value in zip(respond_df["investing_일반정보"], respond_df["investing_대응정보"]):
    try: idn_respond_dict[key] = value.lower()
    except: pass

In [124]:
idn_respond_dict

{'symbol': 'lstng_cd',
 'sicCode': 'engls_indstrsctrs_nm_1',
 'sicGroup': 'engls_indstrsctrs_nm_2',
 'sicDescription': 'entrp_oln_intrd_cont',
 'businessAddress': 'engls_entrp_dtadd'}

In [125]:
info_info = info_finan_.rename(columns=idn_respond_dict)

In [126]:
info_info

,cik,lstng_cd,exchange,engls_indstrsctrs_nm_1,engls_indstrsctrs_nm_2,entrp_oln_intrd_cont,stateLocation,stateOfIncorporation,fiscalYearEnd,engls_entrp_dtadd,mailingAddress,taxIdentificationNumber,registrantName
0,1297341.0,KFFB,NASDAQ,6035.0,Banks—Regional,"SAVINGS INSTITUTION, FEDERALLY CHARTERED",KY,NaN,06-30,"479 MAIN STREET,HAZARD KY 41702,(606) 436-3860","479 MAIN STREET,HAZARD KY 41702",61-1484858,Kentucky First Federal Bancorp
1,1848020.0,BMAC,NYSE,6770.0,Shell Companies,BLANK CHECKS,TX,DE,12-31,"425 HOUSTON STREET,FORT WORTH TX 76102,(817) 6...","425 HOUSTON STREET,FORT WORTH TX 76102",86-2013849,Black Mountain Acquisition Corp.
2,1411690.0,BNGOW,NASDAQ,3826.0,NaN,LABORATORY ANALYTICAL INSTRUMENTS,NaN,DE,NaN,"9540 TOWNE CENTRE DRIVE,SAN DIEGO CA 92121,(85...","9540 TOWNE CENTRE DRIVE,SAN DIEGO CA 92121",26-1756290,"BioNano Genomics, Inc. WT EXP 082123"
3,1774983.0,BROGW,NASDAQ,2911.0,NaN,PETROLEUM REFINING,NaN,E9,NaN,"C/O BROOGE PETROLEUM & GAS INVESTMENT CO,FUJAI...","C/O BROOGE PETROLEUM & GAS INVESTMENT CO,FUJAI...",00-0000000,Brooge Energy Limited
4,1860871.0,LGSTW,NASDAQ,6770.0,Shell Companies,BLANK CHECKS,NY,E9,NaN,"767 THIRD AVENUE, 38TH FLOOR,NEW YORK NY 10017...","767 THIRD AVENUE, 38TH FLOOR,NEW YORK NY 10017",98-1597194,Semper Paratus Acquisition Corporation
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014,1881741.0,AOGO,NASDAQ,6770.0,Shell Companies,BLANK CHECKS,FL,DE,NaN,"848 BRICKELL AVENUE,MIAMI FL 33131,7864421482","848 BRICKELL AVENUE,MIAMI FL 33131",87-1118179,Arogo Capital Acquisition Corp.
3015,1260990.0,ONCT,NASDAQ,2834.0,Biotechnology,PHARMACEUTICAL PREPARATIONS,CA,DE,12-31,"12230 EL CAMINO REAL,SAN DIEGO CA 92130,(858) ...","12230 EL CAMINO REAL,SAN DIEGO CA 92130",62-1715807,"Oncternal Therapeutics, Inc."
3016,940944.0,DRI,NYSE,5812.0,Restaurants,RETAIL-EATING PLACES,FL,FL,05-29,"1000 DARDEN CENTER DRIVE,ORLANDO FL 32837,4072...","1000 DARDEN CENTER DRIVE,ORLANDO FL 32837",59-3305930,"Darden Restaurants, Inc."
3017,1838433.0,NVSAU,NASDAQ,6770.0,Shell Companies,BLANK CHECKS,IL,E9,12-31,"125 SOUTH WACKER DRIVE,CHICAGO IL 60606,(312) ...","125 SOUTH WACKER DRIVE,CHICAGO IL 60606",00-0000000,New Vista Acquisition Corp
3018,1490906.0,CFFN,NASDAQ,6035.0,Banks—Regional,"SAVINGS INSTITUTION, FEDERALLY CHARTERED",KS,MD,09-30,"700 S KANSAS AVENUE,TOPEKA KS 66603,785-235-1341","700 S KANSAS AVENUE,TOPEKA KS 66603",00-0000000,"Capitol Federal Financial, Inc."

In [ ]:
info_info = info_info[~info_info["engls_entrp_dtadd"].str.contains('Indonesia')]

In [49]:
info_info.reset_index(inplace=True)

In [50]:
info_info["symbol"] = ""
for idx in tqdm(range(len(info_info))):
        try:
                company_name = info_info["company_name"][idx].split()[-1].replace("(", "").replace(")", "")
                info_info["symbol"][idx] = company_name
        except:
                print(info_info["company_name"][idx])

C:\Users\user\AppData\Local\Temp\ipykernel_22204\2302300479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_info["symbol"] = ""
  0%|          | 0/1077 [00:00<?, ?it/s]C:\Users\user\AppData\Local\Temp\ipykernel_22204\2302300479.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_info["symbol"][idx] = company_name
100%|██████████| 1077/1077 [00:00<00:00, 4219.18it/s]

nan

In [27]:
info_column = [i.lower() for i in respond_df["yfinance_일반정보"] if str(i) != "nan"]

In [28]:
def append_data(base, df):
    for idx in tqdm(range(len(base))):
        symbol = base["lstng_cd"][idx]
        append_df = df[df["lstng_cd"] == symbol]
        if not append_df.empty:
            base.loc[idx, list(append_df.columns)] = append_df.values[0]
    return base

In [132]:
global_ev_finan_df = append_data(global_ev_finan_df, append_base_df)

100%|██████████| 161708/161708 [45:48<00:00, 58.84it/s]

In [ ]:
duplicated_symbol = set(list(global_ev_finan_df["lstng_cd"])) & set(list(info_info["symbol"]))

In [58]:
global_ev_finan_df = global_ev_finan_df[global_ev_finan_df["lstng_cd"].isin(duplicated_symbol)]

In [60]:
global_ev_finan_df.reset_index(inplace = True)

In [71]:
info_info = info_info.drop(['level_0', 'index'], axis=1)

In [74]:
global_ev_finan_df.reset_index(inplace=True)

In [78]:
global_ev_finan_df = global_ev_finan_df.drop(['level_0', 'index'], axis=1)

In [90]:
info_info["lstng_cd"] = info_info["symbol"]

In [128]:
common_columns = set(global_ev_finan_df.columns).intersection(info_info.columns)

In [129]:
info_info = info_info[common_columns]

In [136]:
global_ev_finan_df = append_data(global_ev_finan_df, info_info)

100%|██████████| 161708/161708 [03:35<00:00, 748.83it/s]

In [137]:
global_ev_finan_df

,keyval,entrp_uid,hb_ntn_cd,kr_ntn_nm,engls_ntn_nm,ntn_lngg_cd_val,kr_lngg_nm,engls_lngg_nm,acplc_lngg_entrp_nm,engls_entrp_nm,...,stock_end,stock_high,stock_low,stock_avg,mrprc_ttamt,week_chart,opert_sctin_cd,data_crtin_dt,cntct_prces_stts_cd,cntct_prces_dt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goldman Sachs Physical Gold ETF,Goldman Sachs Physical Gold ETF,...,11.740000,11.840000,11.740000,NaN,2.268168e+11,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goldman Sachs Physical Gold ETF,Goldman Sachs Physical Gold ETF,...,12.350000,12.420000,12.320000,NaN,2.344030e+11,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goldman Sachs Physical Gold ETF,Goldman Sachs Physical Gold ETF,...,12.810000,12.830000,12.800000,NaN,2.415966e+11,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goldman Sachs Physical Gold ETF,Goldman Sachs Physical Gold ETF,...,12.740000,12.750000,12.730000,NaN,2.344160e+11,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goldman Sachs Physical Gold ETF,Goldman Sachs Physical Gold ETF,...,14.230000,14.390000,14.200000,NaN,2.572784e+11,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.349998,56.669998,53.540001,NaN,9.033120e+11,NaN,NaN,NaN,NaN,NaN
161704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.410000,49.500000,47.779999,NaN,7.837579e+11,NaN,NaN,NaN,NaN,NaN
161705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.509998,34.709000,33.509998,NaN,5.545757e+11,NaN,NaN,NaN,NaN,NaN
161706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.969999,29.219999,26.775000,NaN,4.290927e+11,NaN,NaN,NaN,NaN,NaN
161707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.160000,43.240002,41.970001,NaN,6.827912e+11,NaN,NaN,NaN,NaN,NaN

In [140]:
global_ev_finan_df["hb_ntn_cd"] = "USA"
global_ev_finan_df["kr_ntn_nm"] = "미국"
global_ev_finan_df["engls_ntn_nm"] = "UNITED STATES"
global_ev_finan_df["ntn_lngg_cd_val"] = "ENG"
global_ev_finan_df["kr_lngg_nm"] = "영어"
global_ev_finan_df["engls_lngg_nm"] = "ENGLISH"

In [143]:
global_ev_finan_df.to_excel("미국.xlsx", index=False)

In [99]:
global_ev_finan_df["engls_entrp_dtadd"] = global_ev_finan_df["engls_entrp_dtadd"].str.replace("\nAddress", "")
global_ev_finan_df["engls_entrp_dtadd"] = global_ev_finan_df["engls_entrp_dtadd"].str.replace("Vietnam", "")
global_ev_finan_df["engls_entrp_dtadd"] = global_ev_finan_df["engls_entrp_dtadd"].str.replace("\n", "")

In [158]:
for idx in tqdm(range(len(global_ev_finan_df))): # 기업우편번호
    try:
        post_no = global_ev_finan_df["engls_entrp_dtadd"][idx].split()[-1]
        address = " ".join(global_ev_finan_df["engls_entrp_dtadd"][idx].split()[:-1]).split(".")[1]
        global_ev_finan_df["entrp_post_no"][idx] = post_no
        global_ev_finan_df["engls_entrp_addr"][idx] = address
    except: pass

  0%|          | 0/79025 [00:00<?, ?it/s]

C:\Users\user\AppData\Local\Temp\ipykernel_50512\4149651251.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  global_ev_finan_df["entrp_post_no"][idx] = post_no
C:\Users\user\AppData\Local\Temp\ipykernel_50512\4149651251.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  global_ev_finan_df["engls_entrp_addr"][idx] = address
100%|██████████| 79025/79025 [01:16<00:00, 1029.40it/s]

In [101]:
global_ev_finan_df

,keyval,entrp_uid,hb_ntn_cd,kr_ntn_nm,engls_ntn_nm,ntn_lngg_cd_val,kr_lngg_nm,engls_lngg_nm,acplc_lngg_entrp_nm,engls_entrp_nm,...,stock_end,stock_high,stock_low,stock_avg,mrprc_ttamt,week_chart,opert_sctin_cd,data_crtin_dt,cntct_prces_stts_cd,cntct_prces_dt
0,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,An Phat Plastic and Green Environment JSC,An Phat Plastic and Green Environment JSC,...,12.75,NaN,NaN,NaN,4162040,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,An Phat Plastic and Green Environment JSC,An Phat Plastic and Green Environment JSC,...,12.65,NaN,NaN,NaN,4129396,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,An Phat Plastic and Green Environment JSC,An Phat Plastic and Green Environment JSC,...,12.75,NaN,NaN,NaN,4162040,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,An Phat Plastic and Green Environment JSC,An Phat Plastic and Green Environment JSC,...,12.6,NaN,NaN,NaN,4113075,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,An Phat Plastic and Green Environment JSC,An Phat Plastic and Green Environment JSC,...,12.5,NaN,NaN,NaN,4080431,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98239,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,YEAH1 Group Corp,YEAH1 Group Corp,...,11.35,NaN,NaN,NaN,355028,NaN,NaN,NaN,NaN,NaN
98240,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,YEAH1 Group Corp,YEAH1 Group Corp,...,11.2,NaN,NaN,NaN,350336,NaN,NaN,NaN,NaN,NaN
98241,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,YEAH1 Group Corp,YEAH1 Group Corp,...,11.2,NaN,NaN,NaN,350336,NaN,NaN,NaN,NaN,NaN
98242,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,YEAH1 Group Corp,YEAH1 Group Corp,...,11.25,NaN,NaN,NaN,351900,NaN,NaN,NaN,NaN,NaN
98243,NaN,NaN,VNM,베트남,VIETNAM,VNM,베트남어,VIETNAMESE,YEAH1 Group Corp,YEAH1 Group Corp,...,11.5,NaN,NaN,NaN,359720,NaN,NaN,NaN,NaN,NaN

In [102]:
global_ev_finan_df.to_excel("베트남_3차년도_재무.xlsx", index=False)